/*GLOBAL*/
body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
}

ul{
    list-style-type: none;
}

h1{
    color: gray;
}

h3 {
    color: white;
    font-size: 2rem;
}

p, li {
    color: white;
    font-family: 'Arimo',sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

/* .cf:after, .cf:before {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
} */


/*BANNER*/
#banner {
    background-image: url(../images/Char4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

header {
    padding: 2rem 0;
}


nav {
    float: right;
}

a {
    color: #343467;
    font-weight: 700;
    text-decoration: none;
    margin-left: 3rem;
}

a:hover {
    border-bottom: solid;
    border-bottom-color: #7A7AAB;
}

a.nav_bar {
    color: rgb(139, 131, 131);
}

.content {
    padding: 2rem 0 6rem 0;
}

.title{
    color: rgb(157, 157, 184);
    text-align: center;
}

.title {
    font-size: 3rem;
    margin: 0 auto;
}

.button_wrapper {
    text-align: center;
    margin: 3rem 0;
}

#main_title {
    font-family: 'Permanent Marker', sans-serif;
    color: white;
    margin-top: 25%;
    font-size: 7rem;
}

#learn_button {
    margin: 0 auto;
}

/*THE GAME*/
#the_game {
    height: 600px;
}

#the_game_description {
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color: white;
    
}

#game_panel {
    background-image: url(../images/GP3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/*THE PROCESS*/
#process_panel {
    background-image: url(../images/Set3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/*THE TEAM*/
.bio {
    font-size: 12px;
}

#team_panel {
    background-image: url(../images/Char6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/*CONTACT*/
#contact {
    background-color: rgb(139, 131, 131);
    padding: 4rem 0 4rem 0;
}

#contact_title {
    font-weight: 200;
    font-size: 3rem;
    color: #302F43;
}

#message {
    padding-bottom: 1em;
    color: #302F43;
}

.social {
    margin: 0 auto;
    text-align: center;
}

.icon {
    margin: 0 auto;
    border: none;
    float: right;
}

/*FOOTER*/
footer {
    margin: 0;
    padding: 2rem;
}

.copyright {
    text-align: center;
    color: #343467;
    font-size: 12px;
}
